.tp1,.tp2,.tp3{
    
    height:20%;
    top:0;
    background-color:rgb(214, 239, 250);
    
    font-size:2vh;
    position: absolute;

}

.tp1{
    text-align: left;
    left:10%;
    width:35%;
}

.tp2{
    text-align: left;
    left:45%;
    width:35%;
}

.tp3{
    left:80%;
    width:20%;
    text-align: center;
}

.lp{
    width: 60%;
    height:80%;
    /* background-color: #c5cdce7a; */
    right: 0;
    bottom: 0;
    position: absolute; 

}

.rm{
    width: 40%;
    height:40%;
    background-color:whitesmoke;
    left: 0;
    bottom: 40%;
    position: absolute; 

}

.rp{
    
    width: 40%;
    height:40%;
    background-color:whitesmoke;
    left: 0;
    bottom: 0;
    position: absolute; 
    /* text-align: center; */
    font-size:1.8vh;

}

.des{
    margin-left:10%;
    margin-right:10%;
}


.hidden{    
    display:none;    
}

.emphasize{
    text-decoration-line: underline;
    font-weight:bold;
}

#menu {  
    margin-top:0%;
    margin-left:-10%;
    font-size:1.5vh;
    color: black;
    display: none;    
}

#menu li a{
    color: black;
}

#sub-menu{
    margin-left:-20%;
}

#menu_style {
    margin-left:5%;
    display: inline-block;    
    font-size: 3vh;
    cursor: pointer;
    color: black;    
}

.menu_panel{
    width:10%;
    height:20%;
    background-color:rgb(214, 239, 250);
    top:0;
    left:0;
    position: absolute;
}
